<!DOCTYPE html>
<html lang="[PAGE_BUILDER_LANG]">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <title>[PAGE_BUILDER_TITLE]</title>
    <meta name="description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta name="author" content="[PAGE_BUILDER_SEO_AUTHOR]">
    <meta name="robots" content="[PAGE_BUILDER_SEO_ROBOT]">
    <meta name="keywords" content="[PAGE_BUILDER_SEO_KEYWORDS]">
    <meta property="og:title" content="[PAGE_BUILDER_TITLE]">
    <meta property="og:description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta property="og:image" content="[PAGE_BUILDER_SEO_IMAGE]">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="[PAGE_BUILDER_TITLE]">
    <meta name="twitter:description" content="[PAGE_BUILDER_SEO_DESCRIPTION]">
    <meta name="twitter:image" content="[PAGE_BUILDER_SEO_IMAGE]">
    <link rel="canonical" href="[PAGE_BUILDER_PAGE_URL]">
    <link rel="icon" href="[PAGE_BUILDER_FAVICON]">

    <style>
        html {
            width: 100%;
            overflow-x: hidden;
        }
    </style>

    <!-- User Custom css from builder -->
    <style id="meta-custom-styles">
        [PAGE_BUILDER_CUSTOM_CSS]
    </style>

    [PAGE_BUILDER_DANGEROUS_EXTRA_CUSTOM_CODE]
</head>

<body>
    <!-- Page content -->
    [PAGE_BUILDER_CONTENT]

    <!-- Component css from builder -->
    <style id="builder-styles">
        [PAGE_BUILDER_COMPONENTS_CSS]
    </style>

    <!-- Component js from builder -->
    <script id="builder-scripts">
        [PAGE_BUILDER_COMPONENTS_JS]
    </script>
</body>

</html>