:8080 {
    root * /app
    encode zstd gzip

    @installer path /install /install/*
    @private path /application/* /system/* /temp/* /data/* /.env /.env.*
    @module_php path_regexp module_php ^/modules/.*\.php$
    respond @installer 404
    respond @private 404
    respond @module_php 404

    php_server
}
