.header_custom_choice_span{
	position: absolute;
	top: 4px;
	right: 28px;
	font-size: 17px;
}
.valign{
	vertical-align: super
}
.box{
	overflow-x: auto;
    overflow-y: hidden;
}
.control-label {
    padding-left: 5px;
}