.admin #side-menu, .admin #setup-menu,.admin #setup-menu-wrapper{
	background-position: left top;
	background-size: cover;
}
.admin #side-menu>li, .admin #setup-menu>li{
	
	border-left: 3px solid transparent;
    -webkit-transition: border-left-color 0.4s ease;
    -o-transition: border-left-color 0.4s ease;
    transition: border-left-color 0.4s ease;
}
.task-single-col-right {
    border-left: 1px solid #eeeeee;
}
.admin #side-menu li .nav-second-level li.active a,.admin #setup-menu li .nav-second-level li.active a{
	border-radius:5px;
}
/*for task kanban view*/
#kan-ban li, #kan-ban ul{color:#666666}
/*panel shadow*/
.panel_s:not(.no-shadow) {
	-o-box-shadow: 3px -1px 10px 1px rgb(19 17 17 / 20%);
    -webkit-box-shadow: 3px -1px 10px 1px rgb(19 17 17 / 20%);
    box-shadow: 3px -1px 10px 1px rgb(19 17 17 / 20%);
	border-radius: 5px;
}
#top_search input{
	border-radius:35px;
}
.fn-gantt .rightPanel .month,.fn-gantt .rightPanel .year,.fn-gantt .sa, .fn-gantt .sn,.fn-gantt .day, .fn-gantt .date{
	text-shadow:none;
}
/*for Perfex V3.0*/
/* Quick links on top header*/
.navbar-nav .tw-bg-primary-600	{
	--tw-bg-opacity: 0;
	border: 1px solid rgba(226,232,240,.6);
	border-radius: 0.375rem;
}
.navbar-nav .tw-group:hover .group-hover\:\!tw-bg-primary-700	{
	--tw-bg-opacity: 0 !important;
	background-color: rgba(241,245,249,.6)!important;
}	
/* To show default set admin page text in view invoice and estimets etc*/
.table>tbody>tr>td, .table>tfoot>tr>td{
	color:inherit;
}
/*to remove white bg from client invoices view*/
.tw-bg-white {
    --tw-bg-opacity: 0;
}
/*set hedding of client view page*/
.customer-profile-group-heading{
	background:inherit;
}
/*to match dropdown caret of both bersion of Perfex*/
.caret{
	border: solid #1e293b;
    border-style: solid!important;
    border-width: 0 2px 2px 0 !important;
    margin-top: -5.3px !important;
    padding: 3px;
    transform: rotate(45deg);
}
.panel_s>.hr-panel-separator{
    margin: 0.1px -1.5px;
}	